body{
    background-image: url(http://getwallpapers.com/wallpaper/full/6/d/4/898638-new-winter-wallpaper-for-computer-desktop-1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}
.textbox{
    margin-top: 200px;
    
    
}