body{
    background-image: url(https://cdn.discordapp.com/attachments/272139090579685378/562898540536266763/facebook_1552199686393.png);
    background-repeat: no-repeat;
    background-size: 100%;
}