
.navbalk{
	
} 
body{
	background-image: url(https://i.pinimg.com/originals/09/6a/35/096a35453660aa9b83ba4ab6d9182d61.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.jumbo{
	margin-top: 200px;
}